*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: #E5E5E5;
    color: #4F4F4F;
    line-height: 21px;
}
a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1224px;
    padding: 0 32px;
    margin: 0 auto;
}
.subtitle {
    color: #F3B562;
    font-size: 24px;
    line-height: 33px;
    font-weight: 500;
    margin-bottom: 17px;
    text-transform: uppercase;
}
.title {
    color: #647B64;
    font-size: 41px;
    line-height: 45px;
    font-weight: 500;
    text-transform: uppercase;
}


.header__menu {
    display: flex;
    align-items: center;
    height: 140px;
}
.header__menu-img--mobile {
    display: none;
}
.header__menu-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
}
.header__menu-list {
    display: flex;
    font-weight: 500;
    line-height: 20px;
    color: #333333;
}
.header__menu-item {
    margin-right: 48px;
}
.header__menu-reg {
    color: #FEFEFE;
    font-weight: 500;
    border: none;
    background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%), linear-gradient(102.3deg, #0BB1E3 -4.62%, #0F2976 178.22%), #0E70AF;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 10px 15px;
    cursor: pointer;
}
.header__burger-btn {
    display: none;
    position: relative;
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 5;
}
.header__burger-btn span {
    position: absolute;
    height: 2.40px;
    background-color: #051033;
    border-radius: 15px;
    transition: transform .5s, background-color .5s;
}
.header__burger-btn span:nth-child(1) {
    transform: translateY(-5px);
    width: 9px;
    left: 3.5px;
}
.header__burger-btn span:nth-child(2) {
    width: 21px;
    left: 3.5px;
}
.header__burger-btn span:nth-child(3) {
    transform: translateY(5px);
    width: 9px;
    right: 3.5px;
}
.header.open .header__burger-btn span {
    background-color: #fff;
}
.header.open .header__burger-btn span:nth-child(1) {
    transform: translate(1px, -4px) rotate(45deg);
}
.header.open .header__burger-btn span:nth-child(2) {
    transform: rotate(-45deg);
    width: 18px;
}
.header.open .header__burger-btn span:nth-child(3) {
    transform: translate(-4px, 3px) rotate(45deg);
}

.started {
    height: calc(100vh - 140px);
}
.started__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.started__img-mobile {
    display: none;
}
.started__title {
    font-size: 48px;
    font-weight: 500;
    line-height: 55px;
    color: #333333;
    margin-bottom: 24px;
    text-transform: uppercase;
    max-width: 620px;
    position: relative;
}
.started__title::before {
    content: '';
    position: absolute;
    width: 84px;
    height: 84px;
    left: 195px;
    top: -25px;
    background-image: url(../images/circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.started__text {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 32px;
    max-width: 480px;
}
.get-started {
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FEFEFE;
    max-width: 350px;
    padding: 25px;
    background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%);
    box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
    border-radius: 2px;
    position: relative;
}
.get-started::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 15px;
    right: 22px;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
}

.mot {
    padding-top: 140px;
}
.mot__inner {
    display: flex;
    justify-content: space-between;
}
.mot__texts {
    position: relative;
    max-width: 416px;
}
.mot__texts::before {
    content: '';
    position: absolute;
    top: -40px;
    right: -13px;
    height: 153px;
    width: 717px;
    background-image: url(../images/mot-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.mot__texts-title {
    margin-bottom: 40px;
}
.mot__texts-text {
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 21px;
    max-width: 415px;
}
.mot__items {
    display: grid;
    grid-template-columns: repeat(2, 288px);
    gap: 54px 50px;
    padding-top: 35px;
}
.mot__item--active {
    background-color: #fff;
    box-shadow: 0px 5.87438px 31.33px rgba(155, 148, 148, 0.17);
    border-radius: 8px;
    padding: 40px 27px 45px 40px;
}
.mot__item {
    margin: auto;
}
.mot__item-img {
    margin-bottom: 16px;
}
.mot__item-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: #333333;
    margin-bottom: 6px;
}
.mot__item-text {
    font-size: 13px;
    line-height: 17px;
    max-width: 221px;
}

.consectet {
    padding-top: 140px;
    overflow-x: hidden;
}
.consectet__texts {
    text-align: center;
    margin-bottom: 56px;
}
.consectet__inner {
    display: flex;
    position: relative;
    padding-bottom: 40px;
}
.consectet__inner::before, .consectet__inner::after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    z-index: -1;
}
.consectet__inner::before {
    background-image: url(../images/dots-bg1.svg);
    width: 214px;
    height: 213px;
    left: -34px;
}
.consectet__inner::after {
    background-image: url(../images/dots-bg2.svg);
    width: 463px;
    height: 182px;
    right: -270px;
}
.consectet__item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    height: 338px;
    max-width: 360px;
    padding: 0 50px 72px;
    background: linear-gradient(358.27deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0) 25.62%, rgba(100, 123, 100, 0) 98.53%), #FFFFFF;
    border-radius: 8px;
}
.consectet__item + .consectet__item {
    margin-left: 40px;
}
.consectet__item--active {
    background: #647B64;
    color: #fff;
}
.consectet__item--active .consectet__item-title {
    color: #fff;
}
.consectet__item-img {
    margin-bottom: 24px;
}
.consectet__item-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 6px;
    text-transform: uppercase;
}
.consectet__item-text {
    font-weight: 500;
    line-height: 21px;
    max-width: 260px;
}

.amet {
    padding-top: 100px;
    background-color: #fff;
}
.amet__inner {
    display: flex;
    justify-content: space-between;
}
.amet__img {
    position: relative;
    z-index: 1;
}
.amet__img::after {
    content: '';
    width: 546px;
    height: 561px;
    position: absolute;
    background-image: url(../images/amet-img.svg);
    background-repeat: no-repeat;
    background-size: cover;
    right: -60px;
    bottom: -60px;
    z-index: -1;
}
.amet__texts {
    max-width: 415px;
    margin: auto 0;
}
.amet__text {
    margin: 24px 0 40px;
}

.quis {
    padding: 137px 0 172px;
    background-color: #fff;
}
.quis__inner {
    display: flex;
    justify-content: space-between;
}
.quis__slider-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.quis__slider-btn button {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}
.btn__slider-left {
    margin-bottom: 10px;
}
.quis__slider-item {
    background: linear-gradient(358.27deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0) 25.62%, rgba(100, 123, 100, 0) 98.53%), #FFFFFF;
    border-radius: 8px;
    max-width: 360px;
    padding: 32px 32px 32px 29px;
    margin-right: 40px;
}
.slider__item-top {
    display: flex;
}
.slider__item-texts {
    margin-top: 17px;
}
.slider__item-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 5px;
}
.slider__item-name {
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}
.slider__item-text {
    max-width: 260px;
    margin-top: 24px;
    font-style: italic;
}

.slick-track {
    display: flex;
}
.slick-list {
    overflow: hidden;
}

.footer {
    background-color: #F0DCC5;
    padding: 97px 0;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
}
.footer__awesome {
    max-width: 280px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
.footer__awesome-img {
    margin-bottom: 17px;
}
.footer__awesome-text {
    line-height: 18px;
    margin-bottom: 16px;
}
.footer__awesome-copyright {
    margin-bottom: 8px;
}
.footer__awesome-all {
    margin-bottom: 19px;
}
.footer__awesome-social a + a {
    margin-left: 16px;
}
.footer__title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #647B64;
    margin-bottom: 24px;
}
.footer__item {
    line-height: 26px;
    color: #333333;
}
.footer__item + .footer__item {
    margin-top: 12px;
}
.footer__send-title {
    text-transform: uppercase;
    margin-bottom: 13px;
}
.footer__send-email {
    border: none;
    width: 283px;
    max-width: 100%;
    height: 113px;
    padding: 0 15px 10px 24px;
    font-size: 15px;
    line-height: 24px;
    color: #4F4F4F;
    display: block;
    margin-bottom: 28px;
}
.footer__send-email::placeholder {
    position: absolute;
    top: 12px;
    font-size: 14px;
    line-height: 24px;
}
.footer__send-btn  {
    border: none;
    display: block;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-align: left;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FEFEFE;
    width: 283px;
    max-width: 100%;
    padding: 20px;
    background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%);
    box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
    border-radius: 2px;
    cursor: pointer;
    position: relative;
}
.footer__send-btn::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 15px;
    right: 22px;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
}



@media (max-width: 1141px) {
    .mot__inner {
        display: block;
    }
    .mot__items {
        grid-template-columns: repeat(2, 253px);
        justify-content: center;
        gap: 44px 22px;
    }
}


@media (max-width: 860px) {
    .header__menu-item {
        margin-right: 28px;
    }
}


@media (max-width: 768px) {
    .header__menu {
        display: block;
        text-align: center;
        padding-top: 20px;
    }
    .header__menu-inner {
        display: block;
    }
    .header__menu-list {
        justify-content: center;
        margin: 15px 0;
    }
    .header__menu-item {
        margin-right: 20px;
    }
    .menu__item-link {
        font-size: 14px;
    }

    .started {
        padding-top: 70px;
        height: auto;
    }
    .started__title {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .started__text {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 25px;
    }
    .started__link {
        font-size: 14px;
        padding: 15px;
    }
    .started__img {
        max-width: 100%;
    }
}


@media (max-width: 426px) {
    .header__menu {
        display: flex;
        padding-top: 0;
        justify-content: space-between;
        height: 90px;
    }
    .header__menu-img {
        display: none;
    }
    .header__menu-img--mobile {
        display: block;
    }
    .header__burger-btn {
        display: block;
    }
    .header__menu-inner {
        display: block;
        position: absolute;
        text-align: center;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #F3B562;
        padding: 21vh 20px 20px 20px;
        opacity: 0;
        pointer-events: none;
        transition: opacity .5s;
        z-index: 5;
    }
    .header.open .header__menu-inner {
        opacity: 1;
        pointer-events: all;
    }
    .header__menu-list {
        display: block;
    }
    .header__menu-item {
        margin-right: 0;
    }
    .menu__item-link {
        color: #fff;
        font-size: 16px;
        display: block;
        padding: 10px 0;
        margin-bottom: 5px;
    }
    .header__menu-reg {
        width: 100%;
        font-size: 15px;
        margin-top: 20px;
    }

    .get-started {
        display: block;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        text-transform: uppercase;
        color: #FEFEFE;
        max-width: 350px;
        padding: 25px;
        background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%);
        box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
        border-radius: 2px;
        position: relative;
    }
    .get-started::after {
        content: '';
        position: absolute;
        width: 13px;
        height: 8px;
        top: 50%;
        transform: translateY(-50%);
        right: 11px;
        background-image: url(../images/arrow-mobile.svg);
        background-repeat: no-repeat;
    }
    .started {
        position: relative;
        overflow-x: hidden;
        padding: 80px 0 127px;
    }
    .started__inner {
        justify-content: space-between;
    }
    .started__title {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 12px;
        max-width: 284px;
    }
    .started__title::before {
        background-image: url(../images/circle-mobile.svg);
        width: 50px;
        height: 50px;
        left: 100px;
    }
    .started__text {
        font-size: 10px;
        line-height: 13px;
        max-width: 240px;
        margin-bottom: 16px;
    }
    .started__link {
        max-width: 176px;
        font-size: 10px;
        font-weight: 600;
        line-height: 13px;
        padding: 13px 11px 13px 15px;
    }
    .started__img {
        display: none;
    }
    .started__img-mobile {
        display: block;
        position: absolute;
        right: -86px;
        top: 0;
    }
}

