*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: #E5E5E5;
    color: #4F4F4F;
}
a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}
.subtitle {
    color: #F3B562;
    font-size: 24px;
    line-height: 33px;
    font-weight: 500;
    margin-bottom: 17px;
    text-transform: uppercase;
}
.title {
    color: #647B64;
    font-size: 41px;
    line-height: 45px;
    font-weight: 500;
    text-transform: uppercase;
}


.header__menu {
    display: flex;
    align-items: center;
    height: 140px;
}
.header__menu-list {
    display: flex;
    margin-left: auto;
    font-weight: 500;
    line-height: 20px;
    color: #333333;
}
.header__menu-item {
    margin-right: 48px;
}
.header__menu-reg {
    color: #FEFEFE;
    font-weight: 500;
    border: none;
    background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%), linear-gradient(102.3deg, #0BB1E3 -4.62%, #0F2976 178.22%), #0E70AF;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 10px 15px;
    cursor: pointer;
}

.started {
    height: calc(100vh - 140px);
}
.started__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.started__title {
    font-size: 48px;
    font-weight: 500;
    line-height: 55px;
    color: #333333;
    margin-bottom: 24px;
    text-transform: uppercase;
    max-width: 620px;
    position: relative;
}
.started__title::before {
    content: '';
    position: absolute;
    width: 84px;
    height: 84px;
    left: 195px;
    top: -25px;
    background-image: url(../images/circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.started__text {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 32px;
    max-width: 480px;
}
.get-started {
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FEFEFE;
    max-width: 350px;
    padding: 25px;
    background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%);
    box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
    border-radius: 2px;
    position: relative;
}
.get-started::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 15px;
    right: 22px;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
}

.mot {
    padding-top: 140px;
}
.mot__inner {
    display: flex;
    justify-content: space-between;
}
.mot__texts {
    position: relative;
}
.mot__texts::before {
    content: '';
    position: absolute;
    top: -40px;
    right: -13px;
    height: 153px;
    width: 717px;
    background-image: url(../images/mot-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.mot__texts-title {
    margin-bottom: 40px;
}
.mot__texts-text {
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 21px;
    max-width: 415px;
}
.mot__items {
    display: grid;
    grid-template-columns: repeat(2, 288px);
    gap: 54px 50px;
    padding-top: 35px;
}
.mot__item--active {
    background-color: #fff;
    box-shadow: 0px 5.87438px 31.33px rgba(155, 148, 148, 0.17);
    border-radius: 8px;
    padding: 40px 27px 45px 40px;
}
.mot__item {
    margin: auto;
}
.mot__item-img {
    margin-bottom: 16px;
}
.mot__item-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: #333333;
    margin-bottom: 6px;
}
.mot__item-text {
    font-size: 13px;
    line-height: 17px;
    max-width: 221px;
}